* {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	color: #fff;
}

body {
	margin: 0;
	background-color: #262626;
}

.icon {
    display: inline-block;
    /* display: flex; */
    width: 26px;
    height: 30px;
    transition: .3s all;
}

.icon::before {
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.validation {
    display: flex;
    padding: 10px 0 0 20px;
    color: #FF6363;
    font-size: 12px;
    font-weight: 300;
}