.header {
    width: 100%;
    margin: 30px auto 0 auto;
}

.header__stroke {
    display: block;
    background-color: #555555;
}

.header__stroke--vertical {
    width: 1px;
    height: 50px;
}

.header__stroke--horizontal {
    width: 100%;
    height: 1px;
    margin: 0 auto;
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.header__title {
    margin: 0 auto;
}

.header__active-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.header__notifications-wrapper {
    position: relative;
}

.header__notifications {
    position: relative;
    background-color: #ffffff00;
    border: none;
    cursor: pointer;
}

.header__notifications-count {
    position: absolute;
    top: -7px;
    right: -14px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 21px;
    background-color: #FF8A00;
    border-radius: 18px;
    font-size: 12px;
    font-weight: 800;
}

.header__active-panel-icon {
    font-size: 25px;
    cursor: pointer;
}

.header__notifications-wrapper:hover .header__active-panel-icon, 
.header__active-panel-icon:hover {
    color: #ffc685;
}

.header__avatar {
    width: 35px;
    height: 35px;
    background-color: #fff;
    border-radius: 100%;
    cursor: pointer;
}